.confirm-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm-card {
    background-color: #fff;
    width: 500px;
    padding: 100px 50px;
    border-radius: 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.confirm-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    font-weight: lighter;
}

.reservation__group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.reservation__group-title {
    width: 300px;
    display: flex;
    align-items: center;
}

.reservation__group-content {
    width: 800px;
    text-align: left;
}

.button__group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.confirm-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0400ff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.confirm-button:hover {
    background-color: #007bff;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #929292;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.back-button:hover {
    background-color: #c5c5c5;
}