body {
    background-color: #f4f4f4;
}

.main-header {
    display: flex;
    align-items: center;
    padding: 2% 5%;
}

.logo {
    font-size: 30px;
    color: #0400ff;
    font-weight: bold;
    margin-left: 2%;
}

@media screen and (max-width: 768px) {
    .logo {
        font-size: 24px;
        margin-left: 0;
    }
}