.container {
    margin: 2% 5%;
}

.shop-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.shop-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: calc(25% - 20px);
    height: fit-content;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    position: relative;
}

.shop-item:hover {
    transform: scale(1.02);
}

.shop-image {
    width: 100%;
}

.shop-info {
    padding: 15px;
    text-align: left;
}

.shop-name {
    font-size: 20px;
    color: #333;
}

.shop-tags {
    color: #777;
    margin: 10px 0;
}

.details-button {
    display: inline-block;
    padding: 10px 15px;
    margin-top: 10px;
    background-color: #0400ff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.details-button:hover {
    background-color: #007bff;
}

.favorite-form {
    display: inline;
}

.favorite-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    margin-left: 10px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: rgb(222, 218, 218);
}

.favorite-button .favorite-icon.active {
    color: red;
}

@media (max-width: 768px) {

    .shop-list {
        flex-direction: column;
    }

    .shop-item {
        width: 100%;
    }
}