.edit-shop-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.edit-shop-form__heading {
    margin-bottom: 40px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.form__group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form__group-title {
    width: 300px;
    display: flex;
    align-items: center;
}

.form__group-content {
    width: 800px;
    text-align: left;
}

.form__label--required {
    color: red;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--name input,
.form__input--area select,
.form__input--genre select {
    padding: 10px;
    width: 50%;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #f6f6f6;
    appearance: none;
    height: 40px;
}

.form__input--textarea textarea {
    padding: 10px;
    width: 100%;
    border: 1px solid #dad2d2;
    border-radius: 3px;
    background-color: #f6f6f6;
    appearance: none;
    height: 180px;
}

.form__button {
    margin-top: 30px;
}

.form__button-submit {
    padding: 10px;
    width: 20%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #0400ff;
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .form {
        width: 100%;
    }

    .form__group {
        flex-direction: column;
        align-items: flex-start;
    }

    .form__group-title,
    .form__group-content {
        width: 100%;
        text-align: left;
    }

    .form__input--name input,
    .form__input--area select,
    .form__input--genre select {
        width: 100%;
    }

    .form__button-submit {
        width: 100%;
    }
}