.reservations__header {
    display: flex;
    justify-content: center;
}

.reservations__form {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 30px;
    width: 80%;
    margin: auto;
}

.reservations__date-text {
    margin: 0;
    text-align: center;
    font-size: 20px;
    padding: 0 3%;
    border: none;
}

.reservations__date-button {
    padding: 0 15px;
    font-size: 20px;
    color: #0400ff;
    border: 1px solid #0400ff;
    background-color: white;
}

.reservations__table-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.reservations__table {
    width: 100%;
}

.reservations__header-item,
.reservations__data-item {
    width: 20%;
    text-align: left;
    padding-left: 5%;
    height: 70px;
    border-top: 1px solid gray;
}

@media screen and (max-width: 768px) {
    .reservations__row {
        display: block;
        margin-bottom: 10px;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .reservations__header-item {
        display: none;
    }

    .reservations__data-item {
        display: flex;
        flex-direction: column;
        padding: 5px;
        border-top: none;
        width: 100%;
    }

    .reservations__data-item::before {
        content: attr(data-label);
        font-weight: bold;
        color: #333;
        margin-bottom: 5px;
        display: block;
    }

    .edit-btn,
    .delete-btn {
        text-align: center;
    }
}